.confirmDeleteDiv {
    display: flex;
    justify-content: center;
}

.deleteReviewModalDiv {
    width: 350px
}

.deleteReviewText {
    display: flex;
    justify-content: center;
}

.deleteReviewModalButtonsDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.deleteButton {
    margin: 5px;
    height: 30px;
    width: 285px;
    box-shadow: 2px 3px 1px gray;
    background-color: #FF5A5F;
    color: white
}

.closeButton {
    margin: 5px;
    margin-bottom: 15px;
    height: 30px;
    width: 285px;
    box-shadow: 2px 3px 1px gray;
    background-color: #5d5858;
    color: white
}
